<div class ="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">        
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" routerLink="">E-Trade</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" routerLink="">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" routerLink="products">Products</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" routerLink="register" *ngIf="!authService.isAuthenticated">Register</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" routerLink="login" *ngIf="!authService.isAuthenticated">Log in</a>
            </li>
            <li>
              <a class="nav-link active" aria-current="page" style="color: #3f51b5; cursor: pointer;" (click)="signOut()" *ngIf="authService.isAuthenticated">Log out</a>
            </li>
            <li>
              <a routerLink ="admin" class="btn btn-outline-success" style="background-color: #3f51b5; color: white;" type="submit" *ngIf="authService.isAuthenticated">Management Panel</a>
            </li>
          </ul>
          <!-- <form class="d-flex">
             <button class="btn btn-outline-success" type="submit">Basket</button>
          </form> -->
          <div class="d-flex">
            <button class="btn btn-outline-success" data-bs-toggle="modal" data-bs-target="#basketModal" (click)="loadComponent()" type="submit">Basket</button>
          </div>
        </div>
      </div>
    </nav>
  </div>
    <div class="col-md-2"></div>
</div>

<div class ="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <router-outlet></router-outlet>
    </div>
    <div class="col-md-2"></div>
</div>

<ngx-spinner size ="default" name ="s1" type="ball-atom"></ngx-spinner>
<ngx-spinner size ="default" name ="s2" type="fire"></ngx-spinner>
<ngx-spinner size ="default" name ="s3" type="ball-scale-multiple"></ngx-spinner>

<!-- <app-baskets></app-baskets> -->
<div class="modal fade" id="#basketModal" tabindex="-1" aria-labelledby="basketModalLabel"  aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <ng-template appDynamicLoadComponent></ng-template>
  </div>
</div>
